/* Contact section styles */

#contact {
  padding: 280px 10%;
}
#contact h2 {
  font-size: 3.2rem;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #7dd3fc;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}
#contact h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
#contact p {
  font-size: 1.4rem;
  opacity: 0.85;
  text-align: center;
}
#contact a {
  display: inline-block;
  font-size: 1.4rem;
  opacity: 0.85;
  color: lightblue;
}
