/* @font-face {
  font-family: "AstraFlux";
  src: url("/fonts/AstraFluxFull.woff2") format("woff2"),
    url("/fonts/AstraFluxFull.woff") format("woff"),
    url("/fonts/AstraFluxFull.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
