/* Search section styles */

#search {
  padding: 280px 10%;
}
#search h2 {
  font-size: 3.2rem;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 5px solid #7dd3fc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}
#search h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#search h3 {
  font-size: 1.4rem;
}

/* Question set wrapper */
#question-set-wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* Question set visibility */
#question-set-wrapper section {
  display: none;
}

#question-set-wrapper section.active {
  display: block;
}
